* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.center {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1280;
    margin: 0 auto;
    padding: 0 1%;
    position: fixed;
}

.logo {
    width: 100%;

}

.menu {
    width: 100%;
    margin-top: 15rem;
    margin-left: 800px;
    text-align: center;

}

.menu a {
    text-align: center;
    font-size: 35px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 100%;  
    margin-right: 20px;
}

.horario {
    width: 100%;
    margin-top: 100px;
    margin-right: 80px;
    
}

.horario a {
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    font-size: 35px;
}

.servicos {
    width: 100%;
    margin-top: 50rem;
    margin-right: rem;
}

.servicos a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    text-align: justify;
    font-size: 2rem;
}

.body {
    z-index: -50;
}

